---
import FileUpload from "../components/FileUpload"
---
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Document</title>
    </head>
    <body class="w-full h-screen flex items-center justify-center border border-solid border-black">
       <FileUpload client:load/>
    </body>
</html>